<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分时查询</title>
    <script type="text/javascript" src="./WEB-UED/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="./WEB-UED/js/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="./WEB-UED/js/easyui/locale/easyui-lang-zh_CN.js"></script>
    <!-- 只存放css文件 -->
    <link rel="stylesheet" type="text/css" href="./WEB-UED/js/easyui/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="./WEB-UED/js/easyui/themes/icon.css" />
    <script type="text/javascript">
        $(function () {
            $('#beginDate').datebox({
                                    });
            $('#endDate').datebox({
                                    });
            bindEvent();
        });
    </script>

</head>
<body>
<!-- 应用js-->
<script type="text/javascript" src="./WEB-UED/js/highcharts.js"></script>
<script type="text/javascript" src="./WEB-UED/js/fsanalysis/stock_draw.js"></script>

<table class="">
    <tr>
        <td >股票代码：<span style="color: red">*</span></td>
        <td>
            <input type="text" id="stockcode" value=""  />
        </td>
    </tr>
    <tr>
        <td>开始日期：<span style="color: red">*</span></td>
        <td><input type="text" id="beginDate" value=""  /></td>
    </tr>
    <tr >
        <td>开始时间：<span style="color: red">*</span></td>
        <td><input  type="text" id="beginTime" value=""  /></td>
    </tr>
    <tr >
        <td>结束日期：<span style="color: red">*</span></td>
        <td><input  type="text" id="endDate" value="" /></td>
    </tr>
    <tr >
        <td>结束时间：<span style="color: red"></span></td>
        <td><input  type="text" id="endTime" value="" /></td>
    </tr>
    <tr >
        <td>period：<span style="color: red"></span></td>
        <td><input  type="text" id="period" value=""  /></td>
    </tr>
    <tr>
        <td>单位：<span style="color: red"></span></td>
        <td><input type="text" id="unit" value="" /></td>
    </tr>
    <tr>
        <td>买入金额：<span style="color: red"></span></td>
        <td><input type="text" id="bVolume" value="" /></td>
    </tr>
    <tr>
        <td>卖出金额：<span style="color: red"></span></td>
        <td><input type="text" id="sVolume" value="" /></td>
    </tr>
    <tr>
        <td>仓位数量：<span style="color: red"></span></td>
        <td><input type="text" id="zl_volume_all" value="" /></td>
    </tr>
    <tr>
        <td><input type="button" id="q_button" value="查询" /></td>
    </tr>
</table>
<div id="stock_draw" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</body>
</html>